/*
*
* CSS styles for brankej.github.io
*
*/


body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans"; /* Source: https://fonts.google.com/specimen/Open+Sans */
}



a:link, a:visited {
    color: black;
}
.gray, .gray a:link, .gray a:visited {
    color: gray;
}
.white, .white a:link, .white a:visited {
    color: white;
}


tr:nth-child(even) {
    text-align: left;
}


th, td {
    padding: 1em;
    text-align: left;
    /*background-color: #4CAF50;*/
}
