body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

header {
    min-height: 80px;
    width: 100%;
    margin-bottom: 0.5em;
    color: white;
    background-color: #0074D9;
    /* color source: https://clrs.cc/ */
}

header h2 {
    float: left;
    padding-left: 0.5em;
}

header nav {
    float: right;
    padding-right: 0.5em;
}

header nav p {
    padding-top: 0.8em;
    font-size: 0.9em;
    font-weight: bold;
}

header nav a {
    color: white;
}

#stats {
    float: left;
    padding-right: 0.5em;
    color: crimson;
}

table {
    width: 100%;
}

th {
    height: 10px;
}

th,
td {
    padding: 15px;
    text-align: left;
}

#map {
    width: 100%;
    height: 80vh;
    border: 1px solid silver;
}

#slider {
    width: 80%;
}

/*
#slider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}
*/

main a {
    color: black;
}